h1{text-align: center;
font-size: 10em;
}

.home{background-image: url(/img/home.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 22500px;
    max-width: 1600px;
    float: center;
    padding-bottom: 150px;
    padding-top: 150px;
    color: white;
    font-family: 'Trade Winds';font-size: 22px;
}
p{color: black;
font-size: xx-large;
font-family: 'Alex Brush';font-size: 40px;
}

h2{text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
    font-family: 'Trade Winds';font-size: 22px;
}

#about{
    font-family: 'Yeseva One';font-size: 22px;
}
    