h1{text-align: center;
font-size: 10em;
}

.home{background-image: url(https://bit.ly/2TzUDtl);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 22500px;
    max-width: 1600px;
    float: center;
    padding-bottom: 150px;
    padding-top: 150px;
    color: white;
    font-family: 'Trade Winds';font-size: 22px;
    background-size: cover;
}
p{color: black;
font-size: xx-large;
font-family: 'Alex Brush';font-size: 40px;
}

h2{text-align: center;
    text-emphasis: bold;
    font-size: xx-large;
    font-family: 'Trade Winds';font-size: 22px;
}

#about{
    font-family: 'Yeseva One';font-size: 22px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .navbar a:hover {
    background-color: #000;
  }
  
  
  .home_nav {
    background-color: red;
  }
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  #btn{text-align: center;
color: red;
font-size: xx-large;
float: center;
}

#order_h{text-align: center;
font-size: xx-large;
font-family: 'Alex Brush';font-size: 40px;
}

.orderhtml{background-image: url(https://bit.ly/39gc4FF);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: auto;
display: flex;
flex-direction: column;
align-items: left;
justify-content: left;
max-height: 22500px;
max-width: 2000px;
float: center;
padding-bottom: 150px;
padding-top: 150px;
color: white;
}

#btn2{color: red;
    font-size: xx-large;
}

.orderlink{align-items: center;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
  }
  
  /* #panel {
    padding: 50px;
    display: none;
  } */

  #submit2{
    text-align: center;
  }
  .contact{background-image: url(https://bit.ly/2PP36rs);
  text-align: center;
font-family: cursive;
}
#quantity{text-align: center;}